<html>
    <head>
        <title>WordCount</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-md-12">
                <h1>ABOUT</h1>

                <p>동국대학교 운영진</p>
                
                <a href="{% url 'home' %}">홈으로</a>
            </div>
        </div>
    </body>
</html>
