<html>
    <head>
        <title>WordCount</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-md-12">
                <h1>WordCount</h1>
                <h2><a href="{% url 'about' %}">소개</a></h2>
                <form action="{% url 'count' %}">
                  <div class="form-group">
                    <textarea cols="40" rows="10" name="fulltext"></textarea>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-default">Count!</button>                  
                </form>
            </div>
        </div>
    </body>
</html>
